In [1]:
import os
import pandas as pd
from tqdm import tqdm_notebook as tn
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import glob
pd.options.display.max_columns=100
pd.options.display.max_rows=300
from datetime import datetime
import numpy as np

### 검색클릭 데이터 분석

In [ ]:
"""검색클릭 데이터 로드"""
df = pd.read_csv('/home/ncp/workspace/nasw2/23y2h_sf_sc.csv')
                #  names=['user','age','loc1','loc2','keyword','area','count','date','hour','device','gender'])     # read_csv 오류 시 사용

In [ ]:
df.head()

In [ ]:
"""전처리1"""
df.reset_index(inpalce=True)
df = df.iloc[:,2:-1]        # 쓸모없는 열 삭제
# df.columns = list(df.iloc[0,:])     # 컬럼 설정
# df = df.iloc[1:,:]        # 첫번째 행 삭제
df.head()

In [ ]:
df.columns

In [ ]:
"""전처리2"""
df.columns = [str(col).strip() for col in df.columns]       # 컬럼명 앞뒤 공백 삭제
for col in df.columns:
    df[col] = df[col].apply(lambda x: x.strip() if isinstance(x, str) else x)       # 데이터 값 내 공백 삭제
for col in df.columns:
    df.drop(df[df[col]==col].index, inplace=True)         # 행 내 컬럼명 들어있는 행 삭제
df.columns = [col.split('.')[1] for col in df.columns]      # 컬럼명에 붙어있는 데이터명 삭제
df['date'] = pd.to_datetime(df['date'], errors='coerce')    # 날짜 형식으로 변경
df['count']=df['count'].apply(lambda x: int(x) if isinstance(x, str) and x.isdigit() else np.nan)       # count 변수를 object에서 int로 변경

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
print(len(df['date'].value_counts()), '일치 데이터', sep='')      # 1달치 데이터 (23년 12월 01~31일)
print(format(len(df),','), '행 데이터', sep='')

In [ ]:
"""연령대 정제"""
df['age2'] = df['age'].apply(lambda x: '-18' if x in ['-12','13-18']
                             else '19-29' if x in ['19-24','25-29']
                             else '30-39' if x in ['30-34','35-39']
                             else '40-49' if x in ['40-44','45-49']
                             else '50-')

In [ ]:
"""키워드 필터링"""
df1 = df[df['keyword'].isin(['kodex200'])]

In [ ]:
print('#KODEX200 절대량')
print(format(df1['count'].sum(),','))
print('----------------------------------------')

In [ ]:
"""20대 여자 <KODEX200> 클릭영역 탑 10"""
print('#20대 여자 KODEX200 클릭영역 탑 10')
tmp = pd.DataFrame(round(df1[(df1['gender']=='f')&(df1['age2'].isin(['19-29']))]
                         .groupby(by=['area'])['count'].sum()/
                         df1.loc[(df1['gender']=='f')&(df1['age2'].isin(['19-29'])), 'count'].sum(),2)).reset_index()     # 성/연령 나눈 비율
print(tmp.sort_values(by='count', ascending=False)[:10])
print('----------------------------------------')

"""30대 여자 <KODEX200> 클릭영역 탑 10"""
print('#30대 여자 KODEX200 클릭영역 탑 10')
tmp1 = pd.DataFrame(round(df1[(df1['gender']=='f')&(df1['age2'].isin(['30-39']))]
                         .groupby(by=['area'])['count'].sum()/
                         df1.loc[(df1['gender']=='f')&(df1['age2'].isin(['30-39'])), 'count'].sum(),2)).reset_index()     # 성/연령 나눈 비율
print(tmp1.sort_values(by='count', ascending=False)[:10])
print('----------------------------------------')

"""40대 여자 <KODEX200> 클릭영역 탑 10"""
print('#40대 여자 KODEX200 클릭영역 탑 10')
tmp2 = pd.DataFrame(round(df1[(df1['gender']=='f')&(df1['age2'].isin(['40-49']))]
                         .groupby(by=['area'])['count'].sum()/
                         df1.loc[(df1['gender']=='f')&(df1['age2'].isin(['40-49'])), 'count'].sum(),2)).reset_index()     # 성/연령 나눈 비율
print(tmp2.sort_values(by='count', ascending=False)[:10])
print('----------------------------------------')

"""50대 여자 <KODEX200> 클릭영역 탑 10"""
print('#50대 여자 KODEX200 클릭영역 탑 10')
tmp3 = pd.DataFrame(round(df1[(df1['gender']=='f')&(df1['age2'].isin(['50-']))]
                         .groupby(by=['area'])['count'].sum()/
                         df1.loc[(df1['gender']=='f')&(df1['age2'].isin(['50-'])), 'count'].sum(),2)).reset_index()     # 성/연령 나눈 비율
print(tmp3.sort_values(by='count', ascending=False)[:10])

In [ ]:
"""20대 남자 <KODEX200> 클릭영역 탑 10"""
print('#20대 남자 KODEX200 클릭영역 탑 10')
tmp4 = pd.DataFrame(round(df1[(df1['gender']=='m')&(df1['age2'].isin(['19-29']))]
                         .groupby(by=['area'])['count'].sum()/
                         df1.loc[(df1['gender']=='m')&(df1['age2'].isin(['19-29'])), 'count'].sum(),2)).reset_index()     # 성/연령 나눈 비율
print(tmp4.sort_values(by='count', ascending=False)[:10])
print('----------------------------------------')

"""30대 남자 <KODEX200> 클릭영역 탑 10"""
print('#30대 남자 KODEX200 클릭영역 탑 10')
tmp5 = pd.DataFrame(round(df1[(df1['gender']=='m')&(df1['age2'].isin(['30-39']))]
                         .groupby(by=['area'])['count'].sum()/
                         df1.loc[(df1['gender']=='m')&(df1['age2'].isin(['30-39'])), 'count'].sum(),2)).reset_index()     # 성/연령 나눈 비율
print(tmp5.sort_values(by='count', ascending=False)[:10])
print('----------------------------------------')

"""40대 남자 <KODEX200> 클릭영역 탑 10"""
print('#40대 남자 KODEX200 클릭영역 탑 10')
tmp6 = pd.DataFrame(round(df1[(df1['gender']=='m')&(df1['age2'].isin(['40-49']))]
                         .groupby(by=['area'])['count'].sum()/
                         df1.loc[(df1['gender']=='m')&(df1['age2'].isin(['40-49'])), 'count'].sum(),2)).reset_index()     # 성/연령 나눈 비율
print(tmp6.sort_values(by='count', ascending=False)[:10])
print('----------------------------------------')

"""50대 남자 <KODEX200> 클릭영역 탑 10"""
print('#50대 남자 KODEX200 클릭영역 탑 10')
tmp7 = pd.DataFrame(round(df1[(df1['gender']=='m')&(df1['age2'].isin(['50-']))]
                         .groupby(by=['area'])['count'].sum()/
                         df1.loc[(df1['gender']=='m')&(df1['age2'].isin(['50-'])), 'count'].sum(),2)).reset_index()     # 성/연령 나눈 비율
print(tmp7.sort_values(by='count', ascending=False)[:10])

### 검색코어커런스 데이터 분석

In [ ]:
"""코어커런스 데이터 로드"""
data = pd.read_csv('/home/ncp/workspace/naws2/23y2h_sf_cc.csv')
                   # names=['a','age','loc1','loc2','keyword1','area1','keyword2','area2','count','date','device','gender','b','c'])

In [ ]:
data.head(10)

In [ ]:
"""전처리1"""
data.reset_index(inplace=True)
data = data.iloc[:,1:-1]                # 쓸모없는 열 삭제
# data.columns = list(data.iloc[0,:])     # 컬럼 설정
# data = data.iloc[1:,:]                  # 첫번재 행 삭제
# data.reset_index(drop=True, inplace=True)
data.head()

In [ ]:
data.columns

In [ ]:
"""전처리2"""
data.columns = [str(col).strip() for col in data.columns]       # 컬럼명 앞뒤 공백 삭제
for col in data.columns:
    data[col] = data[col].apply(lambda x: x.strip() if isinstance(x, str) else x)       # 데이터 값 앞뒤 공백 삭제
for col in data.columns:
    data.drop(data[data[col]==col].index, inplace=True)         # 행 내 컬럼명 들어있는 행 삭제
data.columns = [col.split('.')[1] for col in data.columns]      # 컬럼명에 붙어있는 데이터명 삭제
data['date'] = pd.to_datetime(data['date'], errors='coerce')    # 날짜 형식으로 변경
data['count']=data['count'].apply(lambda x: int(x) if isinstance(x, str) and x.isdigit() else np.nan)       # count 변수를 object에서 int로 변경

In [ ]:
data.columns

In [ ]:
data.head()

In [ ]:
print(len(data['date'].value_counts()), '일치 데이터', sep='')      # 1달치 데이터 (23년 12월 01~31일)
print(format(len(data),','), '행 데이터', sep='')

In [ ]:
# """<kodex200> 검색어를 제외한 코어커런스 검색어"""
# temp = data.loc[~data['keyword2'].str.contains('kodex200', na=False), 'keyword2'].value_counts()
# pd.DataFrame(temp).head(100)

In [ ]:
"""동일한 코어커런스 데이터(keyword2) groupby 합계 탑200"""
temp2 = data.groupby(by=['keyword2'])['count'].sum().reset_index()
temp2.drop(temp2[temp2['count'] <= 100].index, inplace=True)       # 용량 reduction을 위해 100번 미만의 조합은 삭제
(temp2.shape)
temp2 = temp2.sort_values(by='count', ascending=False)
temp2.head(200)